.homepage-container {
    height: 100vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.weather-container {
    width: 100%;
    padding: 0.2rem 1rem 0 0;
    font-size: 1.3rem;
    display: flex;
    justify-content: flex-end;
}

.main-container .time {
    font-size: 8rem;
    font-weight: 600;
}

.main-container {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.greeting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3.5rem;
}

.greeting h1 {
    font-size: 7rem;
    font-weight: 600;
}
.greeting p{
    font-weight: 500;
}

.quote-container {
    padding: 1rem;
    font-size: larger;
    font-weight: 700;
}
